body {
    background-color:#202020;
    color: white;
}

.header_one, .header_one:visited {
    font-family:arial,helvetica,sans-serif;
    font-size:4em;
    font-weight:bold;
    color:white;
}

a {
    text-decoration: none;
}

#hanoi {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -177px;
    margin-left:-425px;
    width:850px;
    height:275px;
    text-align:center;
    background: #333;
    visibility: hidden;
}

.hanoi_peg {
    height:90%;
    width:4%;
    margin: 27px 14%;
    background: gray;
    display:inline-block;
    bottom: 0px;
    position: relative;
}

.hanoi_disk {
    width:300px;
    text-align: center;
    padding: 5px 0;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border:1px solid;
}

.hanoi_disk a {
    color: white;
    font-weight: bold;
}

#twitter {
    background-image: url("images/icon/twitter.png");
    background-color: #8EC1DA;
    border-color: #5e91ba;
}

#linkedin {
    background-image: url("images/icon/linkedin.png");
    background-color: #F3F3F3;
    border-color: #c3c3c3;
}

#linkedin a{
    color: #555;
}

#couchsurfing {
    background-image: url("images/icon/couchsurfing.png");
    background-color: #F9B564;
    border-color: #d98534;
}

#github {
    background-image: url("images/icon/github.png");
    background-color: #FAFAFA;
    border-color: #cacaca;
}

#github a{
    color:#555;
}

#stackoverflow {
    background-image: url("images/icon/stackoverflow.png");
    background-color: #F4A83D;
    border-color: #d4780d;
}

#buddyrunner {
    background-image: url("images/icon/buddyrunner.png");
    background-color: #1C61B2;
    border-color: #003182;
}

#bcnmpl {
    background-image: url("images/icon/bcnmpl.png");
    background-color: #222;
    border-color: #000;
}
