body {
    background-color:#202020;
    color: white;
}

#hanoi {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -177px;
    margin-left:-450px;
    width:900px;
    height:325px;
    text-align:center;
    background: #333;
}

.hanoi_peg {
    height:100%;
    width:30%;
/*    border:1px solid;*/
    display:inline-block;
}

#peg_social {
}

#peg_code {
}

#peg_sport {
}

.hanoi_disk {
    width:150px;
    text-align: center;
    padding: 5px 0;
}


