body {
    background-color:#000;
}

.header_one, .header_one:visited {
    position:relative;
    top:0.4em;
    margin-left:-2.2em;
    padding:0.2em;
    background-color:black;
    font-size:2em;
    font-family: arial,helvetica,sans-serif;
}

a, a:visited {
    color:white;
    text-decoration: none;
}

#hanoi {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left:-449px;
    visibility: hidden;
}

#game_frame{
    padding: 18px;
    border: 3px solid white;
}

#game {
    width:850px;
    height:275px;
    text-align:center;
    background: #fff;
}

.hanoi_peg {
    height:90%;
    width:4%;
    margin: 28px 14%;
    background: #b30000;
    display:inline-block;
    bottom: 0px;
    position: relative;
}

.hanoi_disk {
    width:300px;
    text-align: center;
    padding: 5px 0;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    border:1px solid;
}

.hanoi_disk a {
    font-weight: bold;
    font-family:"Courier new", courier, monospace;
    margin-left: 5px;
}


#bcnmpl {
    background-image: url("images/icon/bcnmpl.png");
    background-color: #272727;
    border-color: #000;
}

#buddyrunner {
    background-image: url("images/icon/buddyrunner.png");
    background-color: #1c61b2;
    border-color: #003182;
}

#couchsurfing {
    background-image: url("images/icon/couchsurfing.png");
    background-color: #f4921c;
    border-color: #d98534;
}

#endomondo {
    background-image: url("images/icon/endomondo.png");
    background-color: #79a800;
    border-color: #5e8300;
}

#github {
    background-image: url("images/icon/github.png");
    background-color: #fafafa;
    border-color: #cacaca;
}

#github a{
    color:#555;
}

#gmail {
    background-image: url("images/icon/gmail.png");
    background-color: #da3838;
    border-color: #a30000;
}

#linkedin {
    background-image: url("images/icon/linkedin.png");
    background-color: #f3f3f3;
    border-color: #c3c3c3;
}

#linkedin a{
    color: #555;
}

#mendeley {
    background-image: url("images/icon/mendeley.png");
    background-color: #9c0624;
    border-color: #77061b;
}

#twitter {
    background-image: url("images/icon/twitter.png");
    background-color: #64cffc;
    border-color: #5e91ba;
}

#stackoverflow {
    background-image: url("images/icon/stackoverflow.png");
    background-color: #f4a83d;
    border-color: #d4780d;
}
